@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body{
    min-height: 1000px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.6s;
    background: rgb(24,25,26);

}

.logo {
    width: 300px;
}

header .logo{
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li{
    list-style: none;

}

header ul li a{
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing:  2px;
    font-weight: 400;
}
.banner{
    width: 100%;
    min-height: 100vh;
    background:  url(img/imagen3.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.banner h2{
    color: #fff;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
}
.banner h2 span{
    color: #4978ff;
}

.sec{
    background: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sec .content{
    position: relative;
    text-align: center;
    width: 100%;
}
.mxw800p{
    max-width: 800px;
    margin: 0 auto;
}
h3{
    font-size: 45px;
    font-weight: 200;
    margin-bottom: 10px;
}
p{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

